.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
}
.ti-1{
    text-align: center;
    margin-top: 30px;
}
h1{
    color: orange;
}
h2{
    color: rgb(159, 159, 236);
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 600px;
    gap: 10px;
    margin-top: 100px;
    padding: 20px;
}
.container > .card{
    width: 20vw;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    background-color:#efe4d3 ;
    border: 2px solid rgb(183, 164, 164);
    
}
.container > .card:hover{
    box-shadow: rgba(240, 14, 232, 0.285) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.container > .card > .hue:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container > .card > .hue{
    width: 100%;
    height: 80%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid black;
    
}
.container > .card > button{
    color: black;
    background-color:rgb(228, 126, 10);
    border-radius: 30px;
    width: 90%;
    height: 50px;
}
.container > .card > button:hover{
    background-color:burlywood;
    color: rgb(12, 9, 2);
}
.p1{
    color: orange;
}
.Black-Background {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.stat h1 {
    color: orange;
    font-size: 3rem;
    margin: 0;
}

.stat span {
    color: white;
    font-size: 1.2rem;
}
.Reservation{
    background-color: antiquewhite;
    width: 100%;
    height: 250px;
    margin-top: 0%;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.stat-1 > h1{
    color: black;
    margin: 0%;
}
.stat-1 span {
    color: rgb(14, 1, 1);
    font-size: 1.5rem;
}
.Reservation > .stat-1 > button{
    width: 20%;
    height: 50px;
    border-radius: 30px;
    background-color: aqua;
}
.Reservation > .stat-1 > button:hover{
    color: rgb(238, 255, 0);
    background-color: rgb(204, 152, 238);
}
.footer{
    background-color: rgb(163, 138, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}
.footer > span{
    color: rgb(16, 1, 1);
}
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 100px;
}
.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 50px;
}
.hero-content {
    position: relative;
    z-index: 1;
}

.A{
    width: 30%;
    height: 50px;
    border-radius: 40px;
}
.A:hover{
    color: orange;
    text-decoration:double;
    background-color: rgb(10, 104, 104);
}